
#delete{
  background:url(../img/Delete-50.png) ;
  background-repeat: no-repeat;
  background-size: 25px;
  width:40px;
  height:25px;
  border: 0;
}

#edit{
  background:url(../img/Edit-50.png) ;
  background-repeat: no-repeat;
  background-size: 25px;
  width:40px;
  height:25px;
  border: 0;
}

.search-css{
  width: 20%;
  height: 70%;
  float: right;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
  font-weight: bold;
  padding: 8px;
  border: 1px solid #dddddd;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: lighter;
}

.course-label{
  font-size: 2.5em;
}

.content-heading{
  margin-top: 2%;
}

select{
  margin-right: 5px;
  margin-left: 5px;
  padding: 7px;
  /*padding-top: 8px;*/
  border-radius: 8px;
  font-size: 25px;
}
