.content-center{
  text-align: center;
}

.img-margin{
  margin-bottom: 20px;
}

.bg{
  background: url(../img/qrcode-text.png);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.btn-qr{
  background-color: rgba(198, 172, 124, 1);
  font-weight: bold;
  font-size: 17px;
  border: 0px;
}

.btn-qr:hover{
  background-color: rgba(117, 110, 97, 1);
  font-weight: bold;
  font-size: 17px;
  border: 0px;
}

.btn-qr:focus{
  background-color: rgba(117, 110, 97, 1);
  font-weight: bold;
  font-size: 17px;
  border: 0px;
}

.btn-qr:active{
  background-color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 17px;
  border: 0px;
}

.transparent-bg{
  background: rgba(214, 214, 214, 0);
}

.title-text{
  /*padding: 1%;*/
  font-family: 'Open Sans', sans-serif;
  margin-top: 2%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 4px 2px 7px rgba(199, 186, 140, 1);
}

.box-img{
  width: 100%;
  text-align: center;
  /*background: pink;*/
}

#displayQR{
  height: 200px;
}

.qr-option{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
  /*background: rgb(245, 237, 132);*/
}

.form-group-btn{
  width: 49%;
}

.link-class{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

#profile_btn{
  background:url(../img/ContactCard.png) ;
  background-repeat: no-repeat;
  background-size: 30px;
  width:40px;
  height:25px;
  border: 0;
}
