
.size-content{
  font-size: 120%;
}

.pantone-brown{
  color:#a6957b;
}

#profile-label{
  float: right;
  margin: 0;
  padding: 0;
  font-size: 4em;
  clear: both;
}

.head-profile{
  height: 100%;
  border: 1px;
  /*border-style: dashed;;*/
  /*border-color: gray;*/
  margin-top: 5%;
  overflow: auto;
  box-shadow: 4px 4px 30px -10px rgba(117,117,117,1);

  background: url(../img/3.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.content{
  /*background: rgba(198, 172, 124, 1);*/
  margin-top: 5%;
  /*padding: 20px;*/
  /*padding-left: 50px;*/
  height: auto;
}

.name{
  font-size: 2.75em;
  font-weight: bold;
  text-shadow: 4px 2px 5px rgba(198, 172, 124, 0.81);
  padding-bottom: 20px;
}

.other-word{
  font-size: 1.5em;
}

.box-left{
  width:25%;
  text-align: center;
  margin-top: 2%;
  float:left;
  padding-bottom: 6%
}

.box-containt{
  font-family: 'PT Sans', sans-serif;
  padding-left: 3%;
  padding-top: 4%;
  overflow: auto;
  line-height: 30px;
}

.list-quotes {
  margin-left: 10%;
  margin-top: 10%;
  cursor: pointer;
  height: auto;
  overflow: hidden;
  position: relative;
  display: block;
}
.list-quotes img{
  height: 250px;
  width: auto;
  /*text-align: center;*/
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.list-quotes h1 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    background: rgba(20,31,44,0.8);
    bottom: 30px;
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    margin: 0;
}

.list-quotes p {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    font-size: 15px;
    font-weight: normal;
    background: rgba(180, 180, 180, 0.8);
    width: 100%;
    color: #fff;
}
.list-quotes:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: scale(1.2);
    transition: all 250ms ease;
}
.list-quotes:hover{
    box-shadow: 0 0 5px 2px rgba(218, 218, 218, 0.5);
}
.list-quotes:hover h1 {
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
    text-shadow: 0px 0 15px #fff;
    transition: all 250ms ease;
}
.list-quotes:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.quotes span{
    color:#222;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.btn-takeroll{
  background-color: rgba(198, 172, 124, 1);
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
